:root{
    --branco: #ffff;
}

body{
    background: rgb(59, 121, 255);
    user-select: none;
    -webkit-user-select: none;
}
.calc{
    margin: 100px auto;
    padding: 50px 50px;
    width: 300px;
    border-radius: 50px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.6);
    box-shadow:
        0 0 10px 10px #fff, 
        0 0 100px 60px rgb(255, 255, 255), 
        0 0 140px 10px #0ff; 
}
.botaos{
    margin: 0 auto;
    width: 252px;
}
.tela{
    background: var(--branco);
    margin-bottom: 20px;
    margin-left: 24px;
    display: block;
    padding: 20px;
    width: 212px;
    height: 34px;
    text-align: right;
    font-size: 24px;
    overflow: auto;
    font-family: arial;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-y: hidden;
}
.tela::-webkit-scrollbar-track {
    background: var(--branco);
}
.tela::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    background: #F4F4F4;
}
.tela::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 15px;
}
.botoes-calc,.botoes-calc-i,.botoes-calca-i{
    width: 60px;
    height: 60px;
    margin: 4px 0px;
    border-radius:  10px;
    border: none;
    cursor: pointer;
    background: var(--branco);
}
button:active{
    box-shadow: inset 2px 2px rgb(255, 255, 255);
}
.calcular{
    width: 124px;
    display: block;
    margin-left: 130px;
    margin-top: -64px;
    background-color: rgb(241, 95, 241);
    color: var(--branco);
    font-size: 20px;
}
.operadores{ 
    background-color: rgb(241, 95, 241);
    color: var(--branco);
}
.created-by{
    position: absolute;
    margin-left: 45px;
    margin-top: 30px;
    color: var(--branco);
    font-family: 'Courier New', Courier, monospace;
}
